[submodule "src/dotfiles"]
	path = src/dotfiles
	url = https://github.com/skogix/.dotfiles
[submodule "src/ansible"]
	path = src/ansible
	url = https://github.com/skogix/.ansible
[submodule "src/aichat"]
	path = src/aichat
	url = https://github.com/skogix/aichat
