[submodule "src/dotfiles"]
	path = src/dotfiles
	url = https://github.com/skogix/.dotfiles
[submodule "src/ansible"]
	path = src/ansible
	url = https://github.com/skogix/.ansible
[submodule "src/aichat"]
	path = src/aichat
	url = https://github.com/skogix/aichat
[submodule "src/argc"]
	path = src/argc
	url = git@github.com:Skogix/argc.git
[submodule "src/argc-completions"]
	path = src/argc-completions
	url = git@github.com:Skogix/argc-completions.git
